@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #05340c;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: black;
  font-family: "Inconsolata", monospace;
}

.App {
  font-family: "Inconsolata", monospace;
  text-align: center;
  padding: 0 36px;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: lightgrey;
}

.form {
  display: flex;
  justify-content: center;
}

.task-list {
  padding-top: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.toDo {
  background-color: silver;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.toDo.completed {
  background-color: #728c76;
  text-decoration: line-through;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: #05340c;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid gray;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

button {
  background-color: silver;
  border: 1px solid gray;
  color: black;
  font-size: 16px;
  padding: 1%;
  margin: 1%;
  width: 200px;
  height: 100px;
  font-family: "Inconsolata", monospace;
}

input::placeholder {
  color: silver;
  opacity: 1;
}

.clear-btn {
  margin: 1%;
  width: 200px;
  height: 100px;
  font-family: "Inconsolata", monospace;
}
