.purchased {
    text-decoration: line-through;
    

}
div{
    background-color: orange;
}
li {
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    background-color: aqua;
    margin:3px;
    width: 150px;
    height: 40px;
    padding: 5px;

}
.welcome{
   
    text-align: center;
    letter-spacing: .41rem;
}
.toDoList{
    background-color: blue;
    text-align: center;
}
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}