@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2d37;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.your-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    padding: 1px 30px;
    margin: 10px auto;
    background-color: thistle;
    text-align: center;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}
