@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
    width: 100%;
    box-sizing: border-box;
    background-image: url('https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1275&q=80');
    background-size: cover;
}

.App {
    margin: 0 auto;
    background-color: rgba(192, 190, 194, 0.9);
    height: 80vh;
    text-align: center;
    border-radius: 10%;
    width: 60%;
    border: 5px solid rgba(15, 53, 28, 0.6);
    margin-top: 7%;
    
}

h2 {
    font-family: 'Homemade Apple', cursive; 
    font-size: 45px;
    margin-top: 2%;
    color: rgba(15, 53, 28, 0.6);
    border-bottom: 5px solid rgba(15, 53, 28, 0.6);
}

input {
    padding: 1%;
    width: 70%
}

.task-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    background-color: rgba(15, 53, 28, 0.6);
    color: white;
    margin: 5%;
    padding: 1%;
}

p {
    background-color: rgba(15, 53, 28, 0.6);
    width: 80%;
    padding: 5%;
    color: white;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 17px;
}

.item {
    width: 45%;
}

.item.completed {
    width: 50%;
    text-decoration: line-through;
    cursor: pointer;
    color: rgb(15, 53, 28);
    text-align: center;
}

.clear-btn {
   flex-direction: row;
   width: 100%
}