@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body::after {
  content: "";
  background: url('../images/Light-Gradient.jpeg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body, input, button {
  font-family: 'Titillium Web', sans-serif;
  color: #484848;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-size: 2rem;
  line-height: 5rem;
  color: #93005a;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  line-height: 3.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #484848;
}

nav a.active {
  color: #ff4b00;
}
